/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
  
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

:root {
  --slate-400: #94a3b8;
  --slate-600: #475569;
  --slate-800: #1e293b;
  --gray-400: #9ca3af;
  --gray-600: #4b5563;
  --gray-800: #1f2937;
  --zinc-400: #a1a1aa;
  --zinc-600: #52525b;
  --zinc-800: #27272a;
  --neutral-400: #a3a3a3;
  --neutral-600: #525252;
  --neutral-800: #262626;
  --stone-400: #a8a29e;
  --stone-600: #78716c;
  --stone-800: #292524;
  --red-400: #f87171;
  --red-600: #dc2626;
  --red-800: #991b1b;
  --orange-400: #fb923c;
  --orange-600: #ea580c;
  --orange-800: #9a3412;
  --amber-400: #fbbf24;
  --amber-600: #f59e0b;
  --amber-800: #92400e;
  --yellow-400: #facc15;
  --yellow-600: #eab308;
  --yellow-800: #854d0e;
  --lime-400: #a3e635;
  --lime-600: #65a30d;
  --lime-800: #3f6212;
  --green-400: #4ade80;
  --green-600: #22c55e;
  --green-800: #166534;
  --emerald-400: #34d399;
  --emerald-600: #10b981;
  --emerald-800: #065f46;
  --teal-400: #2dd4bf;
  --teal-600: #14b8a6;
  --teal-800: #115e59;
  --cyan-400: #22d3ee;
  --cyan-600: #06b6d4;
  --cyan-800: #075985;
  --sky-400: #38bdf8;
  --sky-600: #0ea5e9;
  --sky-800: #075985;
  --blue-400: #60a5fa;
  --blue-600: #3b82f6;
  --blue-800: #1e40af;
  --indigo-400: #818cf8;
  --indigo-600: #6366f1;
  --indigo-800: #3730a3;
  --violet-400: #a78bfa;
  --violet-600: #8b5cf6;
  --violet-800: #5b21b6;
  --purple-400: #c084fc;
  --purple-600: #a855f7;
  --purple-800: #6b21a8;
  --fuchsia-400: #e879f9;
  --fuchsia-600: #d946ef;
  --fuchsia-800: #86198f;
  --pink-400: #f472b6;
  --pink-600: #ec4899;
  --pink-800: #9d174d;
  --rose-400: #fb7185;
  --rose-600: #e11d48;
  --rose-800: #9f1239;
}


@media (prefers-color-scheme: light) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
